---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
    font-family: 'Bebas';
    src: url('/fonts/Bebas.ttf') format('truetype');
}

@font-face {
    font-family: 'FiraSans';
    src: url('/fonts/FiraSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraSans';
    src: url('/fonts/FiraSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

// Actual colors
$orange-color-pale:#aa6c39;
$orange-color:     #ee6c00;
$aqua-color-pale:  #226666;
$aqua-color:       #4ac6c6;
$yellow-color:     #e6dc17;
$green-color:      #2d882d;
$green-color-light:#87cc87;
$green-color-midd: #116611;
$green-color-midl: #54aa54;
$green-color-dark: #004400;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 25%);
$grey-color-ll:    #f0f0f0;
$grey-color-mid:   #666666;
$grey-color-dark:  darken($grey-color, 25%);
$red-color-ll:     #ffecec;

// Width of the content area
$content-width:    50em;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "customclasses",
    "layout",
    "syntax-highlighting"
;
