@charset "utf-8";
@import "colors";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$title-font-size:  $base-font-size * 1.3;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6;

$spacing-unit:     30px;

// Width of the content area
$content-width:    50em;

$text-color:        $fg1;
$heading-color:     $fg0;
$background-color:  $bg0;
$anchor-color:      $fg-blue;

$blockquote-color:  $fg-green;
$border-color:      $fg4;
$code-bg:           $bg1;

@import 'devices';
@import 'base';
@import 'nav';
@import 'layout';
