$nav-a-hover:           $fg-orange;

nav {
    height: $title-font-size;
	margin: auto;
    padding: 1em 0;
    font-size: $title-font-size;
    letter-spacing: 1px;
	border-bottom: 1px solid $border-color;

    a.nav-title {
        float: left;
        color: $heading-color;
        text-decoration: none;
        transition: color 0.1s;
        border-radius: 3px;

		@include media-query($on-palm) {
			display: none;
		}
    }

    a.nav-links {
        float: right;
        color: $heading-color;
        padding: 0 0 0 0.5em;
        margin: 0 0 0 0.5em;
        text-decoration: none;
        border-radius: 3px;

        transition: color 0.1s;
    }

    a:hover {
        color: $nav-a-hover;
    }
}
