---
layout: default
permalink: /categories/
---

{% include archives-nav.html %}

<div class="home">

  <h1 class="page-heading">Categories</h1>

  {% for category in site.categories %}
  <div class="category-list">
  <a name="{{ category | first }}">{{ category | first }}</a>
  <ul>
      {% for posts in category %}
      {% for post in posts %}
      {% if post.url %}
      <li><a href="{{ post.url }}">{{ post.title }} ({{ post.date | date_to_string }})</a></li>
      {% endif %}
      {% endfor %}
      {% endfor %}
  </ul>
  </div>
  {% endfor %}

</div>
