<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              {% include icons/github.svg %}
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
                {% include icons/twitter.svg %}
            </a>
          </li>
          {% endif %}
          <li>
              <a href="mailto:{{ site.email }}">
                  {% include icons/email.svg %}
              </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  <small>
      &copy; <time datetime="{{ site.time | date_to_xmlscheme }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
  </small>

  </div>

</footer>
