<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              {% include icons/github.svg %}
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
                {% include icons/twitter.svg %}
            </a>
          </li>
          {% endif %}
          <li>
              <script language="javascript">
                var usernom = "cheukyin699";
                var hostnom = "yahoo";
                var linktxt = usernom + "@" + hostnom + ".com";
                document.write("<a href=\"mailto:" + linktxt + "\">");
                </script>
                {% include icons/email.svg %}
                <script language="javascript">
                    document.write("</a>");
            </script>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  <small>
      &copy; <time datetime="{{ site.time | date_to_xmlscheme }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
  </small>

  </div>

</footer>
