<header class="site-header">

  <div class="container">

    <a class="site-title" href="{{ site.baseurl }}/"><i class="fa fa-laptop"></i> {{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <i class="fa fa-lg fa-bars"></i>
      </a>

      <div class="trigger">
        <ul class='nav nav-pills'>
          {% for node in site.pages %}
            {% if node.group == "navigation" %}
              {% if page.url == node.url %}
                <li class="active"><a href="{{ node.url }}">{{ node.title }}</a></li>
              {% else %}
                <li><a href="{{ node.url }}">{{ node.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>

  </div>

</header>
