@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

.share-page {
    text-align: center;

    &:hover {
       text-decoration: none;
    }
}

.section-header-archive {
    text-transform: uppercase;
}

.portfolio-head {
    background: rgba($green-color, 0.3);
    padding: 10px 0;
    h1 {
        font-family: 'Bebas', monospace;
        word-spacing: 0.25em;
    }
}

@mixin overbg($color) {
    background-color: rgba($color, 0.95);
}

.project {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        font-family: 'Bebas', monospace;
        word-spacing: 0.25em;
    }

    img {
        width: 150px;
    }

    li {
        display: inline;
    }

    p {
        padding: 1%;
    }

    .back {
        position: relative !important;
        height: 100% !important;
        min-height: 100%;
        padding: 1%;

        h2, h2 a {
            color: $aqua-color-pale;
            text-decoration: none;
        }
    }

    .grey-overbg {
        @include overbg($grey-color-light);
    }

    .down-bt {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .btn {
        transition: background-color 0.5s ease-in;
        background-color: rgba(white, 0.1);
        border: none;

        &:hover {
            background-color: rgba(white, 0.8);
        }
    }
}
