.nav li a {
    color: $heading-color;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ul.nav {
    margin-left: 0;
}

.comment {
    border-bottom: 2px solid #84f684;
    padding-top: 1em;

    .avatar {
        border-radius: 0.5em;
        float: left;
    }

    .author {
        float: left;
        padding: 4px;
        padding-left: 1em;
    }

    .text {
        padding: 1em;
    }
}
