/**
 * Page and posts
 */
.post,
.page {
    margin: $spacing-unit 0;

    .title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1.2;

        @include media-query($on-laptop) {
            font-size: 36px;
        }
    }

    .meta {
        margin-right: 1em;
        font-variant: small-caps;
        color: $grey-color;
    }

}

/**
 * Post entries
 */
.apost {
    margin: 0.3em 0;
    letter-spacing: 1px;

    .meta {
        font-variant: small-caps;
    }
}
