<!DOCTYPE html>
<html>

  <head>
    {% include head.html %}
    {% seo %}

    {% if page.metafeed %}
    {% feed_meta %}
    {% endif %}
  <head>

  <body>

    {% include header.html %}

    {{ content }}

    <!-- Default Statcounter code for Personal Site https://cheukyin699.github.io/ -->
    <script type="text/javascript">
    var sc_project=12195065; 
    var sc_invisible=1; 
    var sc_security="6ffaa6ee"; 
    var sc_https=1; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12195065/0/6ffaa6ee/1/" alt="Web
    Analytics"></a></div></noscript>
    <!-- End of Statcounter Code -->
  </body>

</html>
