---
layout: post
---

<div class="navlist">
    <ul>
        <li><a href="/tutorial/c++/2015/02/01/ncurses-editor-tutorial-01.html">Part 1</a></li>
        <li><a href="/tutorial/c++/2015/02/01/ncurses-editor-tutorial-02.html">Part 2</a></li>
        <li><a href="/tutorial/c++/2015/02/04/ncurses-editor-tutorial-03.html">Part 3</a></li>
        <li><a href="/tutorial/c++/2015/02/07/ncurses-editor-tutorial-04.html">Part 4</a></li>
    </ul>
</div>

{{ content }}

<div class="navlist">
    <ul>
        <li><a href="/tutorial/c++/2015/02/01/ncurses-editor-tutorial-01.html">Part 1</a></li>
        <li><a href="/tutorial/c++/2015/02/01/ncurses-editor-tutorial-02.html">Part 2</a></li>
        <li><a href="/tutorial/c++/2015/02/04/ncurses-editor-tutorial-03.html">Part 3</a></li>
        <li><a href="/tutorial/c++/2015/02/07/ncurses-editor-tutorial-04.html">Part 4</a></li>
    </ul>
</div>
