---
layout: default
---
{% include head.html %}
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    <!-- <p class="post-meta">Categories: {% for category in page.categories %} {{ category }} {% endfor %}</p> -->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <form action="http://pooleapp.com/stash/47dbbd5f-1d01-4a58-b76a-6965b261c545/" style="background:#EDEDED" method="post">
    <h2>Leave A Comment!</h2>
    <input type="hidden" name="redirect_to" value="/thanks.html" />
    <input type="hidden" name="path" value="{{ page.url }}" />
    <input type="text" name="author" placeholder="Your Name..."/> <br>
    <textarea name="comment" style="width:400px;height:150px;" placeholder="Your Comment..."></textarea> <br>
    <input type="submit" value="Submit!" /> <br>
  </form>
  <hr>
  <div class="post-comments">
      <h2>Comments:</h2>
      {% for comment in site.data.comments.sessions %}
      {% if comment.path == page.url %}
      <div class="post-comment">
          <p class="comment-content">{{ comment.comment }}</p>
          <h5>{{ comment.author }} --- <time datetime="{{ comment.created | date_to_xmlscheme }}">{{ comment.created | date_to_long_string }}</time></h5>
      </div>
      <hr>
      {% endif %}
      {% endfor %}
  </div>

</div>
