---
layout: default
---
<div class="page-content wrapper">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  {% if site.related_posts.size >= 1 %}
  <h2>Other Posts:</h2>
  <ul class="post-list">
    {% for post in site.related_posts limit:3 %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  {% endif %}

  <h2>Comments</h2>
  {% if page.commentID %}
  <div ng-app="CommentsApp" ng-init="getComments({{ page.commentID }})"
    ng-controller="CommentsCtrl">
    <span>To leave a comment, please go to
      <a href="{{ site.issues }}/{{ page.commentID }}">the issues page</a>
    </span>
    <div ng-repeat="c in comments" class="comment">
      <img src="// c.user.avatar_url //" width="30" height="30"
      title="// c.user.login //" class="avatar" />
      <strong class="author">// c.user.login //</strong>
      <br>
      <p class="text">// c.body //</p>
    </div>
  </div>
  {% else %}
  <p>Looks like there are no comments :(</p>
  {% endif %}
</div>
