---
layout: post
---

<div class="navlist">
    <ul>
        <li><a href="/scrabble/2015/08/13/scrabble-2-letter-words.html">2-Letter Words</a></li>
        <li><a href="/scrabble/2015/08/17/scrabble-tile-placement-tut.html">Tile Placement</a></li>
        <li><a href="/scrabble/2015/08/20/scrabble-bingos.html">Prefixes and Suffixes - Bingos</a></li>
        <li><a href="#">Strategies - The Staircase</a></li>
        <li><a href="#">Miscellaneous</a></li>
    </ul>
</div>

{{ content }}

<div class="navlist">
    <ul>
        <li><a href="/scrabble/2015/08/13/scrabble-2-letter-words.html">2-Letter Words</a></li>
        <li><a href="/scrabble/2015/08/17/scrabble-tile-placement-tut.html">Tile Placement</a></li>
        <li><a href="/scrabble/2015/08/20/scrabble-bingos.html">Prefixes and Suffixes - Bingos</a></li>
        <li><a href="#">Strategies - The Staircase</a></li>
        <li><a href="#">Miscellaneous</a></li>
    </ul>
</div>
