---
layout: post
---

<div class="navlist">
    <ul>
        <li><a href="#">2-Letter Words</a></li>
        <li><a href="#">Tile Placement</a></li>
        <li><a href="#">Prefixes and Suffixes - Bingos</a></li>
        <li><a href="#">Strategies - The Ladder</a></li>
        <li><a href="#">Miscellaneous</a></li>
    </ul>
</div>

{{ content }}

<div class="navlist">
    <ul>
        <li><a href="#">2-Letter Words</a></li>
        <li><a href="#">Tile Placement</a></li>
        <li><a href="#">Prefixes and Suffixes - Bingos</a></li>
        <li><a href="#">Strategies - The Ladder</a></li>
        <li><a href="#">Miscellaneous</a></li>
    </ul>
</div>
