<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="">
    {% endblock %}
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% style "css/gruvbox-dark.min.css" %}
    {% style "css/main.css" %}
  </head>
  <body>
    <div class="wrapper">
      {% include "html/header.html" %}

      {% block content %}
      {% endblock %}

      {% include "html/footer.html" %}
    </div>

    {% script "js/highlight.pack.js" %}
    <script defer>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
