<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    {% block meta %}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="">
    {% endblock %}
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/gruvbox-dark.min.css">
    {% style "css/main.css" %}
  </head>
  <body>
    <div class="wrapper">
      {% include "html/header.html" %}

      {% block content %}
      {% endblock %}
    </div>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% script "js/highlight.pack.js" %}
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
